.expression-wrapper {
    width: 60%;
    height: 100px;
    background-color: #ADBBBB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}

.expression-label-latex {
    padding-left: 16px;
    font-size: 36px;
    color: white;
}