.solution-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.solution-label {
    color: #ADBBBB;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
}

.solution-display-box {
    color: #ADBBBB;
    width: 100%;
    height: 354px;
    border-radius: 36px;
    border: 4px solid #ADBBBB;
    display: flex;
    flex-direction: column;
}

.display {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 36px;
}

.arrow-wrapper {
    max-height: 30px;
}

.arrow {
    width: 120px;
    transform: rotate(90deg) scale(0.25);
}
  
.line {
    margin-top: 14px;
    width: 90px;
    background: black;
    height: 10px;
    float: left;
}
  
.point {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid black;
    float: right;
}