#app {
    margin: auto;
    display: flex;
    width: 1728px;
    min-height: 100vh;
    overflow: hidden;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-page-wrapper {
    display: flex;
}

.problem-wrapper {
    width: 720px;
}

.solution-wrapper {
    width: 720px;
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.user-interface {
    width: 100%;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

@media (max-width: 1024px) {
    #app {
        width: 1024px;
    }
    .content-page-wrapper { 
        flex-direction: column;
    }

    .solution-wrapper {
        height: 60vh;
    }
}